body{
	margin:0px;
}

h1{
	margin:0px;
}

header{
	background:#F15B31;
	color: #fff;
	padding: 30px 20px; 
}

nav{
	background: #00A6B3;
	padding: 20px;
	color: #fff;
}

nav a{
	margin: 0px 20px;

}

main{
	width: 850px;
	margin: 35px auto;
}

img{
	margin:40px 8px;
}

footer{
	background: #0D2C40;
	color: white;
	font-weight: 500;
	padding: 20px;
	font-size: 14px;
	letter-spacing: .08em;
	font-family: Raleway, sans-serif;
}

.copyright{
	float: left;
}

.message{
	float: right;
}